<a href="https://colab.research.google.com/github/garimarokaha/Data_science_journey/blob/main/day1(python_basics).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= 1 #store value => integer value /datatype /datastructure
y=2.5 #float
sum=x+y
print(sum)

3

In [ ]:
x= 1 #store value => integer value /datatype /datastructure
y=2.5 #float
x='ram' #string=> single/double quotation
x=5j #complex
sum=x+y
print(sum)

(2.5+5j)

In [ ]:
a =5 #integer
print(type(a))

<class 'int'>

In [ ]:
print (id(a))

140709148375608

In [ ]:
name = "my name is garima. I am from kathmandu " # my name is garima ra I am from kathmandu lai double line ma lekhna meldeana yo single ra double quoation ma so tripple quotation ko usse garne
print(name)

my name is garima. I am from kathmandu

In [ ]:
name ="""my name is Garima rokaha.
I am from kathmandu"""
print (name)

my name is Garima rokaha.
I am from kathmandu

In [ ]:
#boolean
x = True
print(x,type(x))

True <class 'bool'>

In [ ]:
#None datatype
x= None
print(x, type(x))

None <class 'NoneType'>

In [ ]:
#list datatype
x=[1,2,3,4]
print(x, type(x))

[1, 2, 3, 4] <class 'list'>

In [ ]:
#tuple datatype
x =(1,2,3,4)
print(x,type(x))

(1, 2, 3, 4) <class 'tuple'>

In [ ]:
#set datatype
x={1,2,3,4}
print(x,type(x))

{1, 2, 3, 4} <class 'set'>

In [ ]:
# dictionary
x= {
    'name': 'ram', #key:value pair with coma seperated
    "age" : 22,
    "address" : 'ktm', # last coma is optonal
}
print(x , type(x))

{'name': 'ram', 'age': 22, 'address': 'ktm'} <class 'dict'>

In [ ]:
x = input("Enter the value of x:")
y = input("Enter the value of y:")
sum= x+y
print(sum)

Enter the value of x: 23
Enter the value of y: 45

2345

In [ ]:
x =  int (input("Enter the value of x:"))
y =  int (input("Enter the value of y:"))
sum= x+y
print( f"sum of {x} and {y} is {sum}")

Enter the value of x: 2
Enter the value of y: 3

sum of 2 and 3 is 5

In [ ]:
#operator
2+3 #addition
5-6 #substraction
5*4 #multiplication
2**5 #for power (square)
2**5 #for cube
5/2.5 #division
5//2 # division opearator in tbe o/p
5%2 #modulus

1

In [ ]:
name ='ramesh'
len(name)

6

In [ ]:
#precedence
#small bracket
#and
#or

In [ ]:
len('apple')==len('banana')

False

In [ ]:
False or True and False
#false or false
#false

False

In [ ]:
#assignment operator
x=5

In [ ]:
x=2
y=2
print (id(x))
print(id(y))
x is y # memory address>= identity operator (same memory address am cha ki nai check garna is use hunchha)

140709148375512
140709148375512

True

In [ ]:
#membership operator
1 in [1,2,3,4,5,6]

True

In [ ]:
'a' in ['A','b',2,3]

False

In [ ]:
'r' in 'ramesh'

True

In [ ]:
're ' in 'ramesh'

False

In [ ]:
'a' in ('A','b',2,3)

False

In [ ]:
#17 number after decimal point
b=0.1234567890123456789
print(b)

0.12345678901234568

In [ ]:
(1.1+2.2)==3.3

False

In [ ]:
1.1+2.2

3.3000000000000003

In [ ]:
from decimal import Decimal as D #alias
print (D('1.1')+D('2.2'))

3.3

In [ ]:
from math import pi
print (pi)

3.141592653589793

In [ ]:
# math , decimal are modules in python

In [ ]:
import math
print(math.pi)
print(math.cos(math.pi)) #cos(pi)= -1
print(math.exp(10))
print(math.log10(1000)) #log10(1000)=3

3.141592653589793
-1.0
22026.465794806718
3.0

In [ ]:
help (math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
s="This is string."
print(s,type(s))

This is string. <class 'str'>

In [ ]:
s="This is string."
print(s[5])

i

In [ ]:
s="This is string."
s[0:4]#slicing

'This'

In [ ]:
s="This is string."
print(s[0],s[1],s[2],s[3])

T h i s

In [ ]:
s="This is string. strings in python are immutable." #e 46 ma raichhaa so s[46] lekhelo e display garauna ko lagi
s[46]

'e'

In [ ]:
s="This is string. strings in python are immutable."
s[-2] #negative indexing

'e'